@import "../../styles/scss/master";

.item {
  &__container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    margin: auto 16px;

    @include tablet {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: auto 24px;
    }
  }

  &__header{
    margin-top: 32px;
    margin-bottom: 0px;
    @include label;
    @include tablet{
        display:none;
    }

      
    }

    &__description{
    @include h3-subheader;
    @include tablet{
        flex-direction: column;
        width: 20%;
    }
    &--content{
        margin-top: 16px;
        @include h4-para-mobile;
    }
}


&__date {
    @include tablet{
        width: 20%;
        flex-direction: column;
        align-self: center;
        display:none;
    }
    &--header{
      @include label;
    }
}
&__location {
    @include tablet{
        align-self: center;
    }
    &--header{
        @include label;
        @include tablet {
          display: none;
        }
    }
}
&__quantity {
    @include tablet{
        align-self: center;
    }
    &--header{
        @include label;
        @include tablet {
          display: none;
        }
    }
}
&__status {
    @include tablet{
        align-self: center;
        margin-right: 40px;
    }
    &--header{

        @include label;
        @include tablet {
          display: none;
        }
    }
}

  &__removeButton {
    position: relative;
    top: -230px;
    float: right;
    margin-right: 16px;
  
    @include tablet{
        order: 5;
        top:-40px;
        margin-right: 0px;
    }

    &--popUp-clicked {
      position: absolute;
      top: -220px;
      right: 10px;
      width: 200px;
      height: 100px;
      border: 1px solid grey;

      @include tablet{
        top:-10px;
      }
    }
    &--popUp-folded {
      display: none;
      width: 200px;
      height: 100px;
    }
  }
}
