@import '../../styles/scss/master.scss';

.modal {
    @include modal-window;
    // position: absolute;
    // z-index: 1000; 

    // @include tablet {
    //     position: relative;
    // }

    // @include desktop {
    //     position: relative;
    // }

    &--header {
        @include h1-header-mobile;

        @include tablet {
            @include h1-header-tablet;
        }

        @include desktop {
            @include h1-header-tablet;
        }
    }

    &__inputRow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet {
            flex-direction: row;
        }

        @include desktop {
            flex-direction: row;
        }
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        @include tablet {
            width: 220px;
        }

        @include desktop {
            width: 220px;
        }

        &__label {
            @include label;
            margin-bottom: 8px;
        }

        &__inputField {
            border: solid 1px #afafaf;
            border-radius: 4px;
            height: 48px;
            padding: 10px 16px;
        }

        &__warehouseInput {
            border: solid 1px #afafaf;
            border-radius: 4px;
            height: 80px;
            padding: 10px 10px;
            resize: none;

            @include tablet {
                width: 480px;
            }

            @include desktop {
                width: 480px;
            }
        }

        &__warehouse {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;

        @include tablet {
            margin: 40px 0 40px;
            flex-direction: row-reverse;
        }

        @include desktop {
            margin: 40px 0 40px;
            flex-direction: row-reverse;
        }

        &__save {
            margin-bottom: 8px;
            height: 48px;
            width: 100%;
            font-family: 'AvenirNextProLT-demi';
            color: white;
            background: $color-brainflix-blue-dark;
            border: none;
            border-radius: 4px;

            @include tablet {
                width: 160px;
            }

            @include desktop {
                width: 160px;
            }
        }

        &__cancel {
            height: 48px;
            width: 100%;
            font-family: 'AvenirNextProLT-demi';
            color: $color-brainflix-blue-dark;
            background: white;
            border: none;

            @include tablet {
                width: 160px;
            }

            @include desktop {
                width: 160px;
            }
        }
    }
}

.modalBackground {
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0px;
        transition: all 1.3s;
        height: 100%;
        width: 100%;
}