@import '../../styles/scss/master.scss';

.modal {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 0 auto 0;
    transition: all .8s;
    width: 100vw;
    border-radius: 4px;

    @include tablet {
        width: 576px;
    }

    @include desktop {
        width: 576px;
    }

    &__container {
        margin: 32px 16px 60px;

        @include tablet {
            margin: 0 48px 0;
        }

        @include desktop {
            margin: 0 48px 0;
        }
    }

    &--header {
        @include h1-header-mobile;

        @include tablet {
            @include h1-header-tablet;
        }

        @include desktop {
            @include h1-header-tablet;
        }
    }

    &__inputRow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet {
            flex-direction: row;
        }

        @include desktop {
            flex-direction: row;
        }
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        @include tablet {
            width: 220px;
        }

        @include desktop {
            width: 220px;
        }

        &__label {
            @include label;
            margin-bottom: 8px;
        }

        &__inputField {
            border: solid 1px #afafaf;
            border-radius: 4px;
            height: 48px;
            padding: 10px 16px;
        }

        &__warehouseInput {
            border: solid 1px #afafaf;
            border-radius: 4px;
            height: 80px;
            padding: 10px 10px;
            resize: none;

            @include tablet {
                width: 480px;
            }

            @include desktop {
                width: 480px;
            }
        }

        &__warehouse {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;

        @include tablet {
            margin: 40px 0 40px;
            flex-direction: row-reverse;
        }

        @include desktop {
            margin: 40px 0 40px;
            flex-direction: row-reverse;
        }

        &__save {
            margin-bottom: 8px;
            height: 48px;
            width: 100%;
            font-family: 'AvenirNextProLT-demi';
            color: white;
            background: $color-brainflix-blue-dark;
            border: none;
            border-radius: 4px;

            @include tablet {
                width: 160px;
            }

            @include desktop {
                width: 160px;
            }
        }

        &__cancel {
            height: 48px;
            width: 100%;
            font-family: 'AvenirNextProLT-demi';
            color: $color-brainflix-blue-dark;
            background: white;
            border: none;

            @include tablet {
                width: 160px;
            }

            @include desktop {
                width: 160px;
            }
        }
    }
}

.modalBackground {
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0px;
        transition: all 1.3s;
        height: 100%;
        width: 100%;
}