@import '../../styles/scss/master';


.inventory{
    &__container{
        margin: auto 16px;
    }

    &__header{
        &--container{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__search{
        @include tablet{
            align-self: flex-end;
        }
        position: relative;
        width:200px;
        height: 48px;
    
        &--icon{
            position: absolute;
            top:24px;
        }
    }
}