
.missing {

    background-image: url('../../assets/images/wesley-tingey-1500706-unsplash.jpg');
    background-size: cover;
    
    // width: 100%;
    // height: auto;
    margin: 100px 16px 16px 16px;
    // &__message {
        
    // }

}