@import "../../styles/scss/master";

.product-page {

    &__header {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 0.9rem;
        font-family: $font-stack-demi;
    }

    &__title {
        margin-left: 1rem;
    }
}