@import "../../styles/scss/master";

.product-page {
    margin: 1rem;

    &__header {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 0.9rem;
        font-family: $font-stack-demi;
    }

    &__title {
        margin-left: 1rem;
    }

    &__back-link {
        display: flex;
    }
}

.product-item {

    &__instock {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.25rem;
        width: 6rem;
        background-color: green;
        color: white;
    }

    &__outofstock {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.25rem;
        width: 6rem;
        background-color: grey;
    }
}