@import "../../styles/scss/master";

.product-page {
    margin: 1rem;
    display: flex;
    flex-direction: column;

    @include desktop {
        padding: 0 180px;
        margin: 1rem 0;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 0.9rem;
        font-family: $font-stack-demi;

        @include tablet {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid $color-mercury;
        }

        @include desktop {
            flex-direction: row;
        }
    }

    &__headings--instock {
        
        @include tablet {
            margin-left: 1.5rem;
        }
    }

    &__upper-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 0.9rem;
        font-family: $font-stack-demi;
    }

    &__title {
        margin-left: 1rem;
    }

    &__back-link {
        display: flex;
    }

    &__button {
        width: 100%;
        height: 3rem;
        background-color: $color-instock-blue;
        color: white;
        border-radius: 4px;
        font-family: $font-stack-demi;
        font-size: 0.9rem;

        @include tablet {
            width: 25%;
            align-self: flex-end;
        }

        @include desktop {
            width: 30%;
            align-self: flex-end;
        }
    }

    &__instock {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.25rem;
        width: 6rem;
        background-color: rgb(101, 187, 51);
        color: white;
        border-radius: 4px;
    }

    &__outofstock {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.25rem;
        width: 6rem;
        background-color: rgb(209, 203, 203);
        border-radius: 4px;
    }
}

.product-item {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;

    &__middle-container {
        
        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__list-container {

        @include tablet {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
        }
    }

    &__headings {
        color: $color-silver;
        font-family: $font-stack-demi;
        font-size: 0.75rem;
        margin: 1rem 0;
    }

    &__paragraph {
        font-size: 0.7rem;
    }
}