@import '../../styles/scss/master';

.headerSearchBar{
    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    &__header {
        font-size: 24px;
        margin: 32px 0 16px;

        @include tablet {
            font-size: 34px;
            margin: 48px 0 48px;
        }

        @include desktop {
            font-size: 34px;
            margin: 48px 0 48px;
        }
    }

    &__searchBar {
        background: url(../../assets/icons/SVG/Icon-search.svg);
        background-position: 7px 13px;
        background-repeat: no-repeat;
        padding: 0 0 0 35px;
        height: 48px;
        width: 260px;
        border-radius: 4px;
        border: solid 1px #AFAFAF;

        @include tablet {
            align-self: flex-end;
            margin-bottom: 48px;
        }

        @include desktop {
            align-self: flex-end;
            margin-bottom: 48px;
        }
    }
}

