@import './global-fonts';

$color-black: #323232;
$color-brainflix-blue: #0095FF;
$color-white: #FFF;
$color-silver: #AFAFAF;
$color-grey: grey;
$color-brainflix-blue-dark: #0065AD;
$color-mercury: #E1E1E1;
$color-alabaster: #FAFAFA;
$color-instock-blue: #004892;
$color-instock-blue-dark: #002F5F;

$font-stack: 'AvenirNextProLT', 'sans-serif';
$font-stack-demi: 'AvenirNextProLT-demi', 'sans-serif';
$font-stack-bold: 'AvenirNextProLT-bold', 'sans-serif';