@import "../../styles/mixins.scss";

.nav {
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        box-sizing: border-box;
    }

    &__logo {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;

        @include tablet {
            padding: 1rem 1rem 1rem 1.5rem;
            padding-top: 1rem;
            width: 8rem;
        }

        @include desktop {
            padding: 0;
        }
    }

    &__links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;

    }

    &__links-bio, &__links-shows {
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 0rem 0 0.5rem 0;
        font-size: 1rem;
        color: $silver;
        
        @include tablet {
            width: 6rem;
            margin-left: 5%;
            padding: 1.72rem 0.5rem;
            font-size: 1rem;
        }

        @include desktop {
            margin-left: 5%;
            padding: 1.72rem 0.5rem;
        }

        &:hover {
            @include nav-selection;
        }
    }
}