@import "../../styles/scss/master.scss";

.nav a {
    text-decoration: none;
}

#nav__current {
    @include nav-selection;
}

.nav {
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        box-sizing: border-box;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }

        @include desktop {
            margin: 0 180px;
        }
    }

    &__logo {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;

        @include tablet {
            padding: 1rem 1rem 1rem 1.5rem;
            padding-top: 1rem;
            width: 10rem;
        }

        @include desktop {
            padding: 0;
            width: 8rem;
        }
    }

    &__links {
        display: flex;
        // justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;

    }

    &__links-inv, &__links-loc {
        display: flex;
        justify-content: center;
        padding: 0rem 0 1rem 0;
        width: 50vw;
        font-size: 1rem;
        color: $color-silver;
        
        @include tablet {
            width: 6rem;
            margin-left: 5%;
            padding: 1.72rem 0.5rem;
            font-size: 1rem;
        }

        @include desktop {
            padding: 0 180px;
            margin-left: 5%;
            padding: 1.72rem 0.5rem;
        }

        &:hover {
            @include nav-selection;
        }

    }
}
