@font-face {
    font-family: 'AvenirNextProLT';
    src:    url('../../styles/fonts/AvenirNextLTPro-Regular.otf') format('opentype'),
            url('../../styles/fonts/alternative-files/AvenirNextLTPro.ttf') format('truetype');
}
@font-face {
    font-family: 'AvenirNextProLT-demi';
    src:    url('../../styles/fonts/AvenirNextLTPro-Demi.otf') format('opentype'),
            url('../../styles/fonts/alternative-files/AvenirNextLTPro-Demi.ttf') format('truetype');
}
@font-face {
    font-family: 'AvenirNextProLT-bold';
    src:    url('../../styles/fonts/AvenirNextLTPro-Bold.otf') format('opentype'),
            url('../../styles/fonts/alternative-files/AvenirNextLTPro-Bold.ttf') format('truetype');
}