@import "mixins.scss";
@import "../components/NavBar/NavBar.scss";

/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	margin: 0;
	// font-family: $font-family-primary;
	// color: $black;
}

a {
    all: unset;
}